.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #F6921D;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 20rem;
  margin-left: left;
  margin-top: 10rem;
}

.signup-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.signup-form {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
  font-size: 1rem; /* Tamaño de fuente de las etiquetas */
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 1.2rem; /* Tamaño de fuente en los campos de entrada */
  background-color: #fff;
  box-sizing: border-box;
}

.signup-button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  color: #F6921D;
  font-size: 1.2rem; /* Tamaño de fuente del botón */
  cursor: pointer;
}

.signup-button:hover {
  background-color: #e6e6e6;
}

.back-arrow {
  position: absolute;
  top: 6.5rem;
  left: 2rem;
  cursor: pointer;
}

.arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
}


.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
}
