.main {
    padding: 20px 0;
    display: flex; /* Activa flexbox en el contenedor principal */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Alinea los elementos al centro en el eje transversal */
    width: 25rem; /* Ajusta el ancho del contenedor principal */
    margin-top: 7rem;
  }
  
  .description-box {
    width: 20rem;
    background-color: #F6921D;
    color: #080808;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .description-box h2 {
    color: #fff; /* Cambia el color del texto a blanco */
    text-align: center; /* Elimina el margen por defecto del h2 */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  
  .main-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .main-buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between; 
    width: 20rem; 
    gap: 1rem; 
  }
  
  .main-button {
    padding: 10px 20px;
    border-radius: 2rem;
    border: none;
    background-color: #F6921D;
    color: #fff;
    cursor: pointer;
  }
  