.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  overflow-y:auto;
}

.scroll-container {
  height: 300px;        
  overflow-y: auto;     
  border: 1px solid #ccc; 
  padding: 10px;        
}

.add-day-btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* Space between icon and text */
  }
  
  .button-text {
    font-size: 14px;
  }
  
  .invite-collaborator-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .invite-collaborator-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .invite-collaborator-section {
    margin-top: 10px;
  }
  
  .invite-collaborator-section input {
    margin-right: 10px;
  }

  .dropdown-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  

  