/* Nav.css */

    .navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #ffffff;
    position: fixed;
    top: 0; 
    width: 25rem; 
    height: 5rem; 
    padding: none; 
    margin: 0; 
  }
  .welcome-message {
    font-weight: bold; /* Hace que el texto esté en negrita */
    font-size: 1.2rem; /* Tamaño de fuente más grande; ajusta según lo necesites */
    color: #333; /* Color del texto; ajusta según el diseño */
    margin-left: 1rem; /* Espacio a la izquierda del logo */
  }
  .navbar-logo img {
    height: 5rem; 
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem; 
    margin-left: 1rem;
  }
  
  
  .navbar-links a.button, button{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(10, 10, 10);
    background-color: #F6921D;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el borde del foco */
  }
  
  .navbar-links a.button:hover {
    background-color: darkorange;
  }
