.navbar {
  display: flex;
  align-items: center; 
  background-color: #ffffff;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 25rem;
  height: 5rem;
  padding: none;
  margin: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 5rem;
  display: block; 
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center; 
}

.navbar-links a.button:hover {
  background-color: darkorange;
}

.navbar-links a.button, button{
  display: inline-block;
  padding: 10px 20px;
  color: rgb(10, 10, 10);
  background-color: #F6921D;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
  border: none; 
  outline: none; 
}

.welcome-message {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333; 
  margin-left: 1rem; 
}